/*
 *  =============================================
 *  EXPLORATION: AMARI
 *  =============================================
 */

@font-face {
  font-family: 'Linden Hill';
  font-display: swap;
  font-weight: 400;
  src: url('LindenHill.woff') format('woff');
}

@font-face {
  font-family: 'League Gothic';
  font-display: swap;
  font-weight: 400;
  src: url('LeagueGothic-Regular.woff2') format('woff2');
}

html {
  background-color: #f7e7ce;
  font-size: 110%;
}

body {
  border: 2px solid #8B2209;
  display: flex;
  flex-direction: column;
  font-family: 'Linden Hill', Georgia, 'Times New Roman', Times, serif;
  margin: .75rem;
  min-height: calc(100vh - 1.5rem);
  padding: 2rem;
}

:focus {
  outline: 3px double #2b2b2b;
}

main:focus {
  outline: 0;
}

::selection {
  background: #2b2b2b;
  color: #f7e7ce;
}

::-moz-selection {
  background: #2b2b2b;
  color: #f7e7ce;
}

a:link, a:visited {
  border-bottom: 3px double;
  font-weight: 700;
  color: #5B1606;
}

a:hover,
a:focus {
  border-bottom: 3px solid;
}

main {
  margin-top: 1.25rem;
}

@media (min-width: 48rem) {
  html {
    font-size: 125%;
  }
}

/*
 *  ---------------------------------------------
 *  INTRO
 *  ---------------------------------------------
 */

h1 {
  font-family: 'League Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}

.intro {
  margin: 0 auto;
  max-width: 28rem;
  text-align: left;
}

.intro > * + * {
  margin-top: 1rem;
}

/*
 *  ---------------------------------------------
 *  TABLE
 *  ---------------------------------------------
 */

table {
  background-color: rgba(255, 255, 255, .3);
  border-collapse: collapse;
  border: 5px double #8B2209;
  margin: 2rem auto 0;
  width: 100%;
}

th, td {
  color: #2b2b2b;
  padding: 1rem;
}

th {
  border: 2px solid #8B2209;
  color: #8B2209;
  font-family: 'League Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: .05rem;
  text-transform: uppercase;
}

td:first-child {
  color: #fff;
}

td:last-child {
  border: 2px solid #8B2209;
}

.rank-s {
  background-color: #8B2209;
}

.rank-a {
  background-color: #7B1E08;
}

.rank-b {
  background-color: #6B1A07;
}

.rank-c {
  background-color: #5B1606;
}

.rank-d {
  background-color: #4B1205;
}

.c-amari-list {
  list-style: none;
  text-align: left;
}

.c-amari-list li {
  display: inline-block;
  margin: 0 .5rem;
}

.c-amari-list a:link,
.c-amari-list a:visited,
.c-amari-list a:hover {
  border-bottom: 0;
  padding-bottom: 0;
}

.c-amari-list img {
  height: auto;
  transition: all 200ms ease-in-out;
  width: 64px;
}

.c-amari-list a:hover img {
  filter: drop-shadow(0 5px 5px rgba(0,0,0,.5));
  transform: scale(1.1) rotate(2deg);
}

.c-amari-list li:nth-child(even) a:hover img {
  transform: scale(1.1) rotate(-2deg);
}

@media (min-width: 64rem) {
  table {
    margin-top: 4rem;
    max-width: 100%;
    min-width: 48rem;
    width: auto;
  }
}